<!DOCTYPE html>

<html lang="ja">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href='{% url "entry:media" media_path="css/style.css" %}'>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  
  <body>
    
    <header>
    </header>
    
    <div id="wrapper">
      
      <section id="content">
        {% block body %}{% endblock %}
      </section>
      
      <aside>
        
        <section>
          <h3>Recent Entries</h3>
          <ul>
            {% for entry in recent_entries %}
            <li>
              <a href='{% url "entry:content" entry_id=entry.id %}'>{{ entry.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </section>
        
        <section>
          <h3>Tags</h3>
          <ul>
            {% for tag in tags %}
            <li>
              <a href='{% url "entry:tag" tag_id=tag.id %}'>{{ tag.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </section>
        
      </aside>
      
      <footer>
      </footer>
      
    </div>
    
  </body>
  
</html>
